---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/metal-installer-secureboot/a6fbe9f8c137852433e00b22a3a54dbfb2ffc27bea528715d6d057c431bf4de9:v1.12.6
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp2s0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_ENIGMA_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_ENIGMA_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: enigma
auto: off