---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/metal-installer-secureboot/b52b49f7b95b7deaa514a0f645f243fc2d6ea37715e706fc0d5d0160aaf92593:v1.14.1
    diskSelector:
      model: INTEL SSDSC2BB96
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp2s0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_ENIGMA_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_ENIGMA_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: enigma
auto: off