---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/metal-installer-secureboot/e7723da9e9f04b3a6ae3987548c21cc3ab5862870cc2bff001bbd8a5e9906c5e:v1.13.5
    diskSelector:
      model: INTEL SSDSC2BB96
  sysfs:
    devices.system.cpu.cpufreq.boost: "1"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp3s0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: lynka
auto: off