---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/metal-installer-secureboot/7f404084e20b4c65cd633f5cdcfebab1c080214db9fc99229a57126b7a146189:v1.13.0
  sysfs:
    devices.system.cpu.cpufreq.boost: "1"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp2s0f0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: lynka
auto: off