---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/metal-installer-secureboot/2aea80a0f55ecce15ab6ae5097de77b121da7f3b5927524cf3e1fb75d9b8b303:v1.13.9
    diskSelector:
      model: INTEL SSDSC2BB96
  sysfs:
    devices.system.cpu.cpufreq.boost: "1"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp3s0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_LYNKA_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: lynka
auto: off