---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/nocloud-installer-secureboot/c8f37ecbfefc9e4bad7c10c8bb70ae85859c96c0ac61aea82fcc5a2ebda0aa68:v1.13.8
    disk: /dev/sda
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - ens18
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_TATSUMI_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_TATSUMI_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: tatsumi
auto: off
---
apiVersion: v1alpha1
kind: ExistingVolumeConfig
name: hdd1
discovery:
  volumeSelector:
    match: volume.uuid == "09d4df0f-0ad3-4a60-9c33-aabeff594851"