---
machine:
  type: controlplane
  install:
    image: factory.talos.dev/nocloud-installer-secureboot/f15a9db5a473306d95b3ee18a5edb52f3baf896f68caf9ffe75047bdf5999b57:v1.12.6
  kernel:
    modules:
      - name: btrfs
  pods:
    - apiVersion: v1
      kind: Pod
      metadata:
        name: media-mounter
        namespace: kube-system
      spec:
        containers:
            - command:
                - sh
                - -c
                - |
                  mkdir -p /host/var/mnt/hdd1
                  mount -N1 -o autodefrag,compress-force=zstd:9,noatime /dev/disk/by-partuuid/a4ba9dde-ccc6-0a4b-bc1d-ae88dd925b3d /var/mnt/hdd1
              image: debian:trixie-slim
              name: mounter
              securityContext:
                privileged: true
              volumeMounts:
                - mountPath: /host
                  name: host-root
        hostNetwork: true
        hostPID: true
        restartPolicy: OnFailure
        volumes:
            - hostPath:
                path: /
              name: host-root
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - eth0
bondMode: active-backup
addresses:
  - address: {{ ENV.TALSECRET_CUSTOM_TATSUMI_IPV4 }}/24
  - address: {{ ENV.TALSECRET_CUSTOM_TATSUMI_IPV6 }}/64
routes:
  - gateway: "192.168.0.1"
  - gateway: "fe80::2266:cfff:fe83:760a"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: tatsumi
auto: off