cluster:  
  %{if is_controlplane }
  allowSchedulingOnControlPlanes: true
  apiServer:
    # Kyverno is used to replace admissionControl
    admissionControl:
       $patch: delete
    disablePodSecurityPolicy: true
    extraArgs:
      feature-gates: MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  etcd:
    extraArgs:
      listen-metrics-urls: "http://0.0.0.0:2381"
  proxy:
    disabled: true
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - pluginConfig:
            - args:
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
                defaultingType: List
              name: PodTopologySpread
          plugins:
            score:
              disabled:
                - name: ImageLocality
          schedulerName: default-scheduler
    extraArgs:
      bind-address: 0.0.0.0
  %{ endif }
  clusterName: ${cluster_name}
  controlPlane:
    endpoint: ${cluster_endpoint}
  network:
    cni:
      name: none
    podSubnets:
%{ for ip in pod_subnets ~}
      - "${ip}"
%{ endfor ~}
    serviceSubnets:
%{ for ip in service_subnets ~}
      - "${ip}"
%{ endfor }