---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
%{ for ifname in ifnames ~}
  - "${ifname}"
%{ endfor ~}
bondMode: active-backup
addresses:
%{ for cidr in ip_addresses ~}
  - address: "${cidr}"
%{ endfor ~}
routes:
%{ for route in routes ~}
  - gateway: "${route.gateway}"
%{ endfor ~}
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
%{ for addr in dns ~}
  - address: "${addr}"
%{ endfor ~}
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: ${vip}
link: bond0