---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app victoria-metrics-k8s-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    victoria-metrics-operator:
      enabled: false

    grafana:
      enabled: false

    alertmanager:
      labels:
        ingress.samoth.eu/vmagent: allow
      route:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - "alertmanager.${SECRET_DOMAIN}"
      spec:
        podMetadata:
          labels:
            ingress.samoth.eu/vmagent: allow
            ingress.samoth.eu/envoy-internal: allow
            ingress.samoth.eu/kube-apiserver: allow
            egress.samoth.eu/kube-apiserver: allow
        externalURL: https://alertmanager.${SECRET_DOMAIN}
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi
        resources:
          requests:
            cpu: 1m
            memory: 32Mi
          limits:
            memory: 128Mi

    vmalert:
      spec:
        podMetadata:
          labels:
            ingress.samoth.eu/vmagent: allow
        extraArgs:
          enableTCP6: "true"
        resources:
          requests:
            cpu: 1m
            memory: 48Mi
          limits:
            memory: 128Mi

    vmagent:
      spec:
        podMetadata:
          labels:
            ingress.samoth.eu/kube-apiserver: allow
            egress.samoth.eu/kube-apiserver: allow
        extraArgs:
          enableTCP6: "true"
        resources:
          requests:
            cpu: 15m
            memory: 100Mi
          limits:
            memory: 2Gi

    vmsingle:
      spec:
        podMetadata:
          labels:
            ingress.samoth.eu/vmagent: allow
        extraArgs:
          enableTCP6: "true"
        retentionPeriod: 30d
        storage:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 30Gi
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
          limits:
            memory: 2Gi

    prometheus-node-exporter:
      enabled: false

    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - statefulsets=[*]
        - daemonsets=[*]
        - persistentvolumeclaims=[*]
      podLabels:
        ingress.samoth.eu/vmagent: allow
        ingress.samoth.eu/kube-apiserver: allow
        egress.samoth.eu/kube-apiserver: allow
      vmScrape:
        enabled: true
        spec:
          endpoints:
            - port: http
              honorLabels: true
              metricRelabelConfigs:
                - action: labeldrop
                  regex: (uid|container_id|image_id)
              relabelConfigs:
                - action: replace
                  regex: (.*)
                  replacement: $1
                  sourceLabels: [ "__meta_kubernetes_pod_node_name" ]
                  targetLabel: kubernetes_node

    defaultDashboards:
      enabled: true
      grafanaOperator:
        enabled: true
        spec:
          allowCrossNamespaceImport: true
          instanceSelector:
            matchLabels:
              dashboards: grafana
      dashboards:
        node-exporter-full:
          enabled: false

    additionalVictoriaMetricsMap:
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical

    kubelet:
      enabled: true

    kubeApiServer:
      enabled: true

    kubeControllerManager:
      enabled: true
      service:
        selector:
          component: apiserver # Selects controller node IPs
      vmScrape:
        spec:
          endpoints:
            - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              port: https
              scheme: https
              tlsConfig:
                insecureSkipVerify: true

    kubeEtcd:
      enabled: true
      endpoints:
        - ${SECRET_NODE_IPV4}
      service:
        port: 2381
        targetPort: 2381
      vmScrape:
        spec:
          endpoints:
            - scheme: http

    kubeScheduler:
      enabled: true
      endpoints:
        # for some reason, kube-scheduler only listen on ipv6
        - ${SECRET_NODE_IPV6}
      service:
        port: 10259
        targetPort: 10259
      vmScrape:
        spec:
          endpoints:
            - port: https
              scheme: https
              tlsConfig:
                insecureSkipVerify: true

    kubeProxy:
      enabled: false

    coreDns:
      enabled: true