---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  values:
    autoDirectNodeRoutes: true
    bpf:
      masquerade: true
      # Ref: https://github.com/siderolabs/talos/issues/10002
      hostLegacyRouting: true
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    # NOTE: devices might need to be set if you have more than one active NIC on your hosts
    # devices: eno+ eth+
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Cilium
    endpointRoutes:
      enabled: true
    envoy:
      enabled: false
    gatewayAPI:
      enabled: false
    hostFirewall:
      enabled: true
    hubble:
      enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA;sourceContext=workload|pod|dns|ip
          - drop:sourceContext=workload|pod|dns|ip;destinationContext=workload|pod|dns|ip;labelsContext=source_workload_kind,destination_workload_kind
          - flow:sourceContext=workload|pod|dns|ip;destinationContext=workload|pod|dns|ip;labelsContext=source_workload_kind,destination_workload_kind
          - flows-to-world:any-drop;port;syn-only;sourceContext=workload|pod|dns|ip;destinationContext=dns|ip;labelsContext=source_workload_kind
          - port-distribution:protocol;port;sourceContext=workload|pod|dns|ip;destinationContext=dns|ip;labelsContext=source_workload_kind,destination_workload_kind
        serviceMonitor:
          enabled: true
        dashboards:
          enabled: true
          annotations:
            grafana_folder: Cilium
      relay:
        enabled: true
        rollOutPods: true
        prometheus:
          serviceMonitor:
            enabled: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "10.1.0.0/16"
    ipv6NativeRoutingCIDR: "fd00:1::/64"
    ipv6:
      enabled: true
    k8sServiceHost: localhost
    k8sServicePort: 7445
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    l2announcements:
      enabled: true
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicies:
      enabled: true
    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 1
      rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
    socketLB:
      enabled: true
      hostNamespaceOnly: true
