---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cert-manager
  values:
    crds:
      enabled: true
    dns01RecursiveNameservers: https://1.1.1.1:443/dns-query,https://1.0.0.1:443/dns-query
    dns01RecursiveNameserversOnly: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    podLabels: &labels
      ingress.samoth.eu/vmagent: allow
      ingress.samoth.eu/kube-apiserver: allow
      egress.samoth.eu/kube-apiserver: allow
      egress.samoth.eu/internet: allow
    resources:
      requests:
        cpu: 1m
        memory: 80Mi
      limits:
        memory: 512Mi
    webhook:
      podLabels: *labels
      resources:
        requests:
          cpu: 1m
          memory: 64Mi
        limits:
          memory: 512Mi
    cainjector:
      podLabels: *labels
      resources:
        requests:
          cpu: 1m
          memory: 100Mi
        limits:
          memory: 512Mi
    startupapicheck:
      enabled: false