---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:v1.36.4
extraArgs:
  enable-aggregator-routing: "true"
  runtime-config: admissionregistration.k8s.io/v1beta1=true
resources:
  requests:
    cpu: 200m
    memory: 4Gi
  limits:
    memory: 4Gi
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:v1.36.4
extraArgs:
  bind-address: 0.0.0.0
  node-cidr-mask-size-ipv6: "112"
  feature-gates: HPAScaleToZero=true
resources:
  requests:
    cpu: 10m
    memory: 256Mi
  limits:
    memory: 1Gi
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
config:
  apiVersion: kubescheduler.config.k8s.io/v1
  kind: KubeSchedulerConfiguration
  profiles:
    - pluginConfig:
        - args:
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
            defaultingType: List
          name: PodTopologySpread
      plugins:
        score:
          disabled:
            - name: ImageLocality
      schedulerName: default-scheduler
extraArgs:
  bind-address: 0.0.0.0
image: registry.k8s.io/kube-scheduler:v1.36.4
resources:
  requests:
    cpu: 10m
    memory: 128Mi
  limits:
    memory: 512Gi
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  rules:
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
    enabled: true
  jwt: []
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node-role.kubernetes.io/control-plane: ""
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - system-upgrade