---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 1h
  chart:
    spec:
      chart: volsync
      version: 0.14.0
      sourceRef:
        kind: HelmRepository
        name: backube
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    podLabels:
      ingress.samoth.eu/kube-apiserver: allow
      egress.samoth.eu/kube-apiserver: allow
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 5m
        memory: 64Mi
