---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: *name
  interval: 1h
  values:
    global:
      imageRegistry: mirror.gcr.io
    deployment:
      replicas: 1
      envoyGateway:
        resources:
          requests:
            cpu: 5m
            memory: 48Mi
          limits:
            memory: 512Mi
      pod:
        labels:
          # ! Used by netpol
          app: *name
          ingress.samoth.eu/kube-apiserver: allow
          egress.samoth.eu/kube-apiserver: allow
    config:
      envoyGateway:
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
    certgen:
      job:
        pod:
          labels:
            egress.samoth.eu/kube-apiserver: allow
