---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: envoy-gateway
  interval: 1h
  values:
    global:
      imageRegistry: mirror.gcr.io
    podDisruptionBudget:
      minAvailable: 1
    deployment:
      envoyGateway:
        replicas: 2
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 1024Mi
        pod:
          labels:
            ingress.samoth.eu/lan: allow
            ingress.samoth.eu/cluster: allow
            egress.samoth.eu/cluster: allow
    config:
      envoyGateway:
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
    certgen:
      job:
        pod:
          labels:
            egress.samoth.eu/kube-apiserver: allow
