---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
spec:
  chartRef:
    kind: OCIRepository
    name: coredns
  interval: 1h
  values:
    fullnameOverride: coredns
    image:
      repository: mirror.gcr.io/coredns/coredns
    k8sAppLabelOverride: kube-dns
    serviceAccount:
      create: true
    service:
      name: kube-dns
      clusterIP: "10.2.0.10"
    replicaCount: 2
    servers:
      - zones:
          - zone: .
            scheme: dns://
            use_tcp: true
        port: 53
        plugins:
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: ready
          - name: kubernetes
            parameters: cluster.local in-addr.arpa ip6.arpa
            configBlock: |-
              pods verified
              fallthrough in-addr.arpa ip6.arpa
          - name: autopath
            parameters: "@kubernetes"
          - name: forward
            parameters: . 127.0.0.1:5301 127.0.0.1:5302
          - name: cache
            configBlock: |-
              prefetch 20
              serve_stale
          - name: loop
          - name: reload
          - name: loadbalance
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: log
            configBlock: |-
              class error
      - zones:
          - zone: .
            scheme: dns://
            uce_tcp: true
        port: 5301
        plugins:
          - name: errors
          - name: log
            configBlock: |-
              class error
          - name: cache
            parameters: 30
          - name: forward
            parameters: . tls://1.1.1.1 tls://1.0.0.1
            configBlock: |-
              tls_servername tls.cloudflare-dns.com
              policy sequential
              health_check 5s
      - zones:
          - zone: .
            scheme: dns://
            uce_tcp: true
        port: 5302
        plugins:
          - name: errors
          - name: log
            configBlock: |-
              class error
          - name: cache
            parameters: 30
          - name: forward
            parameters: . tls://9.9.9.9
            configBlock: |-
              tls_servername dns.quad9.net
              policy sequential
              health_check 5s
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
    podDisruptionBudget:
      minAvailable: 1
    priorityClassName: system-cluster-critical