---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

components:
  - ../../components/sops
  - ../../components/namespace

resources:
  - ./namespace.yaml
  - ./grafana/ks.yaml
  - ./prometheus-operator-crds/ks.yaml
  - ./victoria-metrics-k8s-stack/ks.yaml
  - ./victoria-metrics-operator/ks.yaml
