---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-operator
spec:
  interval: 1h
  path: ./clusters/lynka/kubernetes/apps/monitoring/grafana/operator
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  wait: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-instance
spec:
  interval: 1h
  path: ./clusters/lynka/kubernetes/apps/monitoring/grafana/instance
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  wait: false
  dependsOn:
    - name: grafana-operator
      namespace: monitoring
