---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: node-exporter
  values:
    fullnameOverride: node-exporter
    extraArgs:
      - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+)($|/)
      - --collector.netdev.device-exclude=^(lxc.*)$
    image:
      registry: quay.io
      repository: prometheus/node-exporter
    podLabels:
      ingress.samoth.eu/vmagent: allow
    prometheus:
      monitor:
        enabled: true
        jobLabel: app.kubernetes.io/instance

        relabelings:
          - action: labeldrop
            regex: (pod)
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: kubernetes_node
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: nodename
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - kubernetes_node
            targetLabel: instance
    resources:
      requests:
        cpu: 23m
        memory: 64M
      limits:
        memory: 64M
